    <div>
      <div class='user_search_form'>
        <h5>Search Users:</h5>
        <form {{action "search" on='submit' }}>
          {{input value=queryField}}
          <input type="submit" value="Search" />
        </form>
      </div>
    </div>
    <p>{{resultCount}} Records</p>
    <hr>
    <ul>
      {{#each filteredUsers}}
      <li>
        {{#link-to 'users.show' this}}{{name}}{{/link-to}}
      </li>
      {{/each}}
    </ul>