    <div class="navbar">
      <div class="navbar-inner">
        <a class="brand" href="#">MyBlog</a>
        <ul class="nav">
          <li>
            {{#link-to 'users'}}Users{{/link-to}}
          </li>

        </ul>
      </div>
    </div>

{{outlet}}

{{view 'footer'}}